{
    "fif": "/network/lustre/iss01/home/aurore.bussalb/Repositories/test_snr/data/subject_1/bad_channels_1.fif",
	"calibration": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/sss_cal.dat",
    "crosstalk": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/ct_sparse.fif",
    "destination": "/network/lustre/iss01/home/aurore.bussalb/Repositories/data_test_BL/mean_tm-raw.fif",
	"events": "/network/lustre/iss01/home/aurore.bussalb/Repositories/app-create-events/out_dir_create_events/events.tsv",
	"channels": null,
    "headshape": null,
	"param_make_events": false,
	"param_make_events_id": 1,
	"param_make_events_start": 0,
	"param_make_events_stop": null,
	"param_make_events_duration": 1,
	"param_make_events_first_samp": true,
	"param_make_events_overlap": 0,
	"param_find_events_stim_channels": null,
	"param_find_events_output": "onset",
	"param_find_events_consecutive": "increasing",
	"param_find_events_min_duration": 0,
	"param_find_events_shortest_event": 2,
	"param_find_events_mask": null,
	"param_find_events_uint_cast": true,
	"param_find_events_mask_type": "and",
	"param_find_events_initial_event": false
}
